<h1>House: <%= @house.house_name %> </h1>

<h4>House Members: <%= @house.members.count %> </h4>

<h5>Students by Name:</h5>
<% @house.members.each do |member| %>
  <% @characters.each do |character| %>
    <% if member[:name] == character[:name] %>
      <p><%= member[:name] %> of House <%= @house.house_name %>, Role: <%= character[:role] %>, Patronus: <%= character[:patronus] %></p>
      <% end %>
  <% end %>
<% end %>
